/*corpo do site*/
.corpo {
    background: rgb(255, 255, 255);
}
body {
    padding: 0;
    margin: 0;  
    background: #ffffff; 
}
/*corpo do site*/


/*barra de pesquisa*/
.search-box{
    position: absolute;
    top: 2%;
    left: 32%;
    background: rgb(255, 255, 255);
    height: 30px;
    border-radius: 10px;
    padding: 10px;
}
.search-btn {
    color: rgb(255, 217, 0);
    float: right;
    margin-top: -10px;
    margin-right: -10px;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background: rgb(255, 217, 0);
    display: flex;
    justify-content: center;
    align-items: center;
 }
.pesquisa {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 17px;
    transition: 0.4s;
    line-height: 30px;
    width: 450px;
}
.search-box:hover > .pesquisa {
    width: 450px;
    padding: 0 6px;
}
.search-box:hover > .search-btn{ 
    background: rgb(225, 0, 0);
}
.Botão{ 
    margin: 0;
    padding: 0;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    opacity: 0.4;
}
/*barra de pesquisa*/


/*primeira barra de menu*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #ff0000;
    height: 13.4vh;
}
.nav-list {
    list-style: none;
    display: flex;
}
.nav-list li {
    font-size: 14px;
    margin-left: 25px;
    margin-top: 9%;
}
.tudo {
    margin: 0;
    padding: 0;
}
.menu {
    background-color: rgb(255, 255, 0);
    height: 130px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -5vh;
    margin-top: -23px;
}
.elegante {
    background-color: yellow;
    height: 120px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-bottom: -10px;
    transform: skew(30deg);
}
.elegante h1 {
    color: yellow;
}
.caracteristica {
    height: 20px;
    width: 50%;
    display: flex;
    margin-top: 75px;
    margin-right: 40vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.botão-1 {
    margin-left: 30px;
    font-size: 15px;
}
.l {
    margin-top: 25px;
    margin-left: 40px;
}
.tudo2 {
    margin-left: -32vh;
}
.menu2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    margin-bottom: 62px;
}
.menu-itens a img {
    margin-top: 7vh;
    height: 30px;
    box-sizing: border-box;
}
.menu-itens2 a img {
    margin-top: 7vh;
    height: 30px;
    box-sizing: border-box;
}
.menu-itens {
    margin-left: 20px;
}
.menu-itens2 {
    margin-left: 20px;
}
/*primeira barra de menu*/





/*img*/
.imagen {
    height: 450px;
    width: 1423px;
    box-shadow: 2px 4px 6px black;
}
.foto {
    height: 450px;
    width: 1423px;
}
/*img*/





/*Tabela*/
.tabela-principal {
    height: 150px;
    width: 200px;
    display: inline;
    margin-left: 45px;
    margin-top: -30px;
}
.tabela-principal img {
    border-radius: 15px;
    margin-top: 20px;
}
.tabela-1 {
    height: 150px;
    width: 200px;
    display: inline;
    margin-left: 15px;
    margin-top: 0px;
}
.tabela-1 img {
    border-radius: 15px;
    margin-top: 20px;
}
/*Tabela*/



/*desconto*/
.desconto-1 {
    height: 350px;
    width: 120px;
    display: inline;
    margin-left: 55px;
}
.desconto-1 img {
    border-radius: 15px;
    margin-top: 100px;
}

.desconto-3 {
    height: 350px;
    width: 120px;
    display: inline;
    margin-left: 90px;
}
.desconto-3 img {
    border-radius: 15px;
    margin-top: 100px;
}

.desconto-2 {
    height: 350px;
    width: 120px;
    display: inline;
    margin-left: 110px;
}
.desconto-2 img {
    border-radius: 15px;
    margin-top: 50px;
}

.desconto-4 {
    height: 350px;
    width: 120px;
    display: inline;
    margin-left: 105px;
}
.desconto-4 img {
    border-radius: 15px;
    margin-top: 50px;
}

.desconto-5 {
    height: 350px;
    width: 120px;
    display: inline;
    margin-left: 90px;
}
.desconto-5 img {
    border-radius: 15px;
    margin-top: 50px;
}

.desconto-6 {
    height: 350px;
    width: 120px;
    display: inline;
    margin-left: 55px;
}
.desconto-6 img {
    border-radius: 15px;
    margin-top: 50px;
}
/*desconto*/






/*produtos para sua região*/
.produto {
    margin-top: 20px;
    display: flex;

}
.produtos{
    align-items: center;
    height: 430px;
    width: 400px;
    border-radius: 5px;
    background: hsl(0, 0%, 90%);
    margin-left: 10px;
    margin-top: 50px;
}
.produtos-1{
    align-items: center;
    height: 430px;
    width: 400px;
    border-radius: 5px;
    background: hsl(0, 0%, 90%);
    margin-left: 90px;
    margin-top: 50px;
    
}
.produtos-1 h1 {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5px;
}
.produtos-1 h2 {
    margin-top: -15px;
    margin-left: 5px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.carrinho{
    margin: 5px;
    border-radius: 15px 15px 1px 1px;
    height: 223px; 
    width: 200px;
}
.produtos h1 {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5px;
}
.produtos h2 {
    margin-top: -15px;
    margin-left: 5px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*produtos para sua região*/






/*produtos mais comprados*/
.produto-4 {
    margin-top: 20px;
    display: flex;
}
.produtos-2{
    align-items: center;
    height: 430px;
    width: 400px;
    border-radius: 5px;
    background: hsl(0, 0%, 90%);
    margin-left: 10px;
    margin-top: 50px;
}
.produtos-3{
    align-items: center;
    height: 430px;
    width: 400px;
    border-radius: 5px;
    background: hsl(0, 0%, 90%);
    margin-left: 90px;
    margin-top: 50px;
    
}
.produtos-2 h1 {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5px;
}
.produtos-2 h2 {
    margin-top: -15px;
    margin-left: 5px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.carrinho{
    margin: 5px;
    border-radius: 15px 15px 1px 1px;
    height: 223px; 
    width: 200px;
}
.produtos-3 h1 {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5px;
}
.produtos-3 h2 {
    margin-top: -15px;
    margin-left: 5px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.produtos-2 h1 {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5px;
}
.produtos-2 h2 {
    margin-top: -15px;
    margin-left: 5px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*produtos mais comprados*/








/*img*/
.foto-1 {
    margin-left: 180px;
    border-radius: 15px;
    margin-top: 100px;
}
/*img*/




.ultima-barra {
    margin-top: 300px;
    width: 100%;
    height: 600px;
}